body {
  float: left;
  height: 100%;
  width: 100%;
  background-color: yellow;
}

h1{
  text-align: center;
  color: black;
}

h2{
  color: lightcoral;
}

.closedCards{
  float: left;
  width: 50%
}

.PlayingField{
  float: left;
  width: 100%;
  height: 40vh;
  border-style: solid;
}

.burnedCards{
  float: left;
  width: 25%;
}

.openClosedCard{
  float: left;
  height: 30vh;
  border: 2px solid black;
}

.closedCards{
  float: left;
  width: 50%;
  text-align: right
}

.openCard{
  float: left;
  width: 50%;
  text-align: left
}

.takeCard{
  float: left;
  width: 50%;
  text-align: left;
}

.buttonNewGame{
  float: left;
  width: 50%;
  text-align: right;
}

.hand{
  float: left;
  width: 100%;
  text-align: center;
}

.buttonHand{
  align-items: center;
}

.ulList{
  display:inline;
  padding: 0;
}

.ulListPlayingField{
  display:inline;
  padding: 0;
  margin-right: 25px;
}


.singleCard{
  height: 198px;
  width: 129px;
}

.cardInPlayfield{
  display:inline;
  padding: -10;
  margin-left: -10;
}

.selectedCard{
  height: 198px;
  width: 129px;
  border: 2px solid black;
}



.listQuartets{
  display:inline;
}
