body {
  float: left;
  height: 100%;
  width: 100%;
  background-color: yellow;
}

h1{
  color: limegreen;
}

h2{
  color: lightcoral;
}

.closedCards{
  float: left;
  width: 50%
}

.PlayingField{
  float: left;
  width: 100%;
  height: 30vh;
}

.burnedCards{
  float: left;
  width: 25%;
}

.closedCards{
  float: left;
  width: 50%;
  height: 30vh;
  text-align: right
}

.openCard{
  float: left;
  width: 50%;
  height:30vh;
}

.takeCard{
  float: left;
  width: 50%;
  text-align: left;
}

.newCard{
  float: left;
  width: 50%;
  text-align: right;
}

.hand{
  float: left;
  width: 100%;
  text-align: center;
}

.buttonHand{
  text-align: center;
}

.ulList{
  display:inline;
  padding: 0;
}

.singleCard{
  height: 198px;
  width: 129px;
}

.selectedCard{
  height: 198px;
  width: 129px;
  border: 2px solid black;
}

.buttonNewGame{
  text-align: center;
}